<div class="text-center">
  <p>Please login using linkedin authentication to start you test</p>
  <button type="button" class="btn btn-primary" {{action "authenticate"}}>Linked In OAuth2</button>
</div>
